{% extends "base.html.twig" %}

{% block body %}
    <div>
        <a href="/logout">Logout</a>
    </div>
    <div>
        <a href="/goal">Back</a>
    </div>
    <div id="goalapp">

        <h1>{{ username }}</h1>

        <p>{{ goal.title }}</p>
        <p>{{ goal.description }}</p>

        <ul>
            {% for task in tasks %}
                <li>
                    <p>{{ task.description }}</p>
                    <a href="">edit</a>
                    <a href="/goal/deletetask?gid={{ goal.id }}&tid={{ task.id }}">delete</a>
                </li>
            {% endfor %}

        </ul>

    </div>
    <div>
        <a href="/goal/createtask?gid={{ goal.id }}">Create New Task</a>
        <a href="/goal/deletegoal?gid={{ goal.id }}">Delete This Goal</a>
    </div>
{% endblock %}
